/* Agrega estilos personalizados aquí */
form div {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input,
  textarea {
    width: 23%;
    padding: 0.5rem;
    border: 1px solid #5a5a5a;
    border-radius: 4px;
  }
  
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2666ac;
  }
  
/*inventarii*/  
/*main*/
.main-page {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
  }
  
  .sidebar h1 {
    font-size: 24px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 10px 0;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  /*main*/
  /*login*/

.login {
    display: flex;
  }
  .container {
    width: 100%;
  }